<p>categories works!</p>


<div class="category-container">
    <div class=" category-row">
       <div class="category-box">
          <a routerLink="/MovieZone">Movies</a>
        </div>
        <div class=" category-box">
            <a routerLink="/awards">Awards</a>
        </div>
        <div class="category-box">
            <a routerLink="/languages">Languages</a>
        </div>
    </div>
    <div class="category-row">
        <div class=" category-box">
            <a routerLink="/actors">Actors</a>
        </div>
        
        <div class="category-box">
            <a routerLink="/directors">Directors</a>
        </div>
    </div>

    <div class="category-box">
        <a routerLink="/genre">Genre</a>
    </div>

</div>