<p>login works!</p>


<div class="container">
  <h2>Login</h2>
  <div class="login-container mx-auto my-auto">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="username">UserName:</label>
          <input type="text" class="form-control" id="username" formControlName="username" required>
        </div>
        <div class="col-md-6 mb-3">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" formControlName="password" required>
        </div>
        <div class="col-md-6 mb-3">
          <label for="role">Role:</label>
          <input type="role" class="form-control" id="role" formControlName="role" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>

