/* global styles and imported styles */


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body {
    font-family:"Poppins",sans-serif;
    background-image: url("./assets/Movie_Images/background.jpg");
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    background-color:black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
